aside {
  width: 440px;
  background-color: #f6fafd;
  overflow-y: auto;
  height: calc(100vh - 50px);
  padding: 10px;
  box-sizing: border-box;
  color: #545454;
  box-shadow: -1px 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
  position: relative;
}
aside h1 > * {
  margin-left: 10px;
}
aside h2 {
  color: #808080;
  text-align: center;
}
aside h3 {
  font-size: 14px;
}
article {
  position: relative;
  border-radius: 6px;
  background-color: #f2f2f2;
  padding: 10px;
  margin: 5px 0 5px 30px;
  width: 400px;
}
article time {
  font-size: smaller;
  color: #808080;
}
article header {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}
article header > * {
  margin-right: 10px;
  display: inline-block;
}
article .name {
  font-weight: bold;
}
article .email {
  color: #a71113;
}
article .new {
  font-weight: bold;
  color: #299e35;
}
article .filename {
  display: block;
  font-size: smaller;
  color: grey;
}
article.selected {
  background-color: #f6fafd;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
article > button {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
article .links > div {
  position: relative;
  background-color: #fafafa;
  padding: 10px;
  margin: 5px -10px;
  max-width: 100%;
}
article .links > div a {
  text-decoration: none;
  color: inherit;
}
article .links > div a:hover {
  color: #34459d;
}
article .links > div small {
  color: #808080;
  margin-left: 20px;
  text-align: center;
  display: block;
}
blockquote {
  margin: 0 0 10px;
  padding: 10px;
  border: 1px solid #808080;
}
q {
  color: green;
}
.counter {
  position: absolute;
  left: -30px;
}
.source_4chan_pol {
  border-left: 4px solid #a6f2a6;
}
.source_8chan_pol {
  border-left: 4px solid #a6a6f2;
}
.source_8chan_cbts {
  border-left: 4px solid #a6ccf2;
}
.source_8chan_thestorm {
  border-left: 4px solid #f2cca6;
}
.source_8chan_greatawakening {
  border-left: 4px solid #f2a6a6;
}
.source_8chan_qresearch {
  border-left: 4px solid #f2f2a6;
}
.deleted {
  background-color: #ecc6c6;
}
article button.answers {
  position: absolute;
  right: 0;
  top: 0;
}
.answers.empty {
  background-color: #b81414;
  color: white;
}
.answers.edited {
  background-color: #14b814;
  color: white;
}
textarea {
  border: 1px solid #e6e6e6;
}
#Copy {
  width: 1px;
  opacity: 0;
}
#fixed-bottom {
  position: fixed;
  bottom: 0;
}
#fixed-bottom #notification {
  padding: 5px 10px;
  color: white;
  background-color: #545454;
}
/*
EDITOR
 */
.editor-toolbar {
  border: none;
}
.disabled-for-preview :not(.no-disable) {
  visibility: hidden;
}
i.separator {
  display: none !important;
}
a.fa.fa-eye.no-disable.active::before {
  content: "\f040";
}
.CodeMirror {
  border-style: dotted;
}
.disabled-for-preview + .CodeMirror {
  border: none;
}
.editor-preview {
  border: none;
  background-color: #f6fafd;
  color: #545454;
}
/*
Answers toggle
 */
@media screen and (max-width: 1000px) {
  aside {
    display: none;
  }
  .hide-mobile {
    display: none;
  }
  section {
    width: 100%;
  }
  .answers {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  [type=search] {
    width: 250px;
  }
  article {
    width: 295px;
  }
}
.answers-disabled .answers {
  display: none;
}
.answers-disabled aside {
  display: none;
}
.answers-disabled section {
  width: 100%;
}
/*
Dialog
 */
button[onclick="toggleDialog()"] {
  font-size: 18px;
}
.dialog {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.9);
  background-color: white;
  padding: 20px;
}
.dialog.open,
.dialog.opening {
  display: block;
}
.dialog > * {
  overflow: auto;
  width: 100%;
  max-width: 90vw;
  max-height: 95vh;
  box-sizing: border-box;
}
.dialog.open {
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
}
.dialog.open + .overlay {
  display: block;
}
.overlay {
  display: none;
  background-image: linear-gradient(to top right, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 99;
}
.overlay:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1001;
  background-image: linear-gradient(-19deg, rgba(43, 40, 50, 0.8) 0%, rgba(43, 40, 50, 0.4) 46%, rgba(0, 0, 0, 0.05) 50%);
  filter: blur(70px);
}
