html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  font-size: 14px;
}
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
body>header {
  height: 30px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 1px 4px 0 hsla(0, 0%, 0%, 0.2);
  z-index: 10;
  position: relative;
}
body>header input[type=search] {
  padding: 5px 10px;
  border-radius: 100px;
  border: 1px solid hsl(0, 0%, 90%);
  min-width: 300px;
}
main {
  display: flex;
}

section {
  overflow-y: auto;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: calc(100% - 400px);
  justify-content: space-around;
}

aside {
  width: 440px;
  background-color: hsl(208, 70%, 98%);
  overflow-y: auto;
  height: calc(100vh - 50px);
  padding: 10px;
  box-sizing: border-box;
  color: hsl(0, 0%, 33%);
  box-shadow: -1px 2px 4px 0 hsla(0, 0%, 0%, 0.2);
  z-index: 10;
  position: relative;
}
aside h1 > * {
  margin-left: 10px
}
aside h2 {
  color: hsl(0, 0%, 50%);
  text-align: center;
}
aside h3 {
  font-size: 14px;
}
article {
  position: relative;
  border-radius: 6px;
  background-color: hsl(0, 0%, 95%);
  padding: 10px;
  margin: 5px 0 5px 30px;
  width: 400px;
}
article.selected {
  background-color: hsl(208, 70%, 98%);
  box-shadow: 0 1px 4px 0px hsla(0, 0%, 0%, 0.2);
}

.text {
  max-width: 100%;
  white-space: pre-wrap;
}
.row {
  display: flex;
}
.stretch {
  flex: 1;
}
a[target=_blank]::after {
  content: '→';
}

time {
  font-size: smaller;
  color: hsl(0, 0%, 50%);
}

img {
  max-width: 100%;
}

blockquote {
  margin: 0 0 10px;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 50%);
}

q {
  color: green;
}

.counter {
  position: absolute;
  left: -30px;
}
img.contain {
  object-fit: contain;
  background: hsl(0, 0%, 95%);
  margin-right: 20px;
}
.source_4chan_pol_anon {
  border-left: 2px solid hsl(12, 48%, 59%);
}
.source_4chan_pol {
  border-left: 2px solid hsl(136, 43%, 74%);
}
.source_8chan_pol {
  border-left: 2px solid hsl(254, 100%, 83%);
}
.source_8chan_cbts {
  border-left: 2px solid hsl(198, 100%, 83%);
}
.deleted {
  background-color: hsl(0, 50%, 85%);
}
article header {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}
article header>*{
  margin-right: 10px;
  display: inline-block;
}
.name {
  font-weight: bold;
}
.email {
  color: hsl(359, 82%, 36%);
}
.filename {
  display: block;
  font-size: smaller;
  color: grey;
}

button {
  background-color: white;
  padding: 6px 20px;
  line-height: 10px;
  border: 3px solid hsl(0, 0%, 95%);
  text-transform: uppercase;
  transition: all .5s;
}
button:active {
  background-color: hsl(0, 0%, 95%);
}

article button.answers {
  position: absolute;
  right: 0;
  top: 0;
}
.answers.empty {
  background-color: hsl(0, 80%, 40%);
  color: white;
}
.answers.edited {
  background-color: hsl(120, 80%, 40%);
  color: white;
}

textarea {
  border: 1px solid hsl(0, 0%, 90%);
}
#copy {
  width: 1px;
  opacity:0;
}
#status {
  padding: 5px 10px;
}

/*
EDITOR
 */
aside .editor-toolbar {
  border: none;
}
aside .disabled-for-preview :not(.no-disable) {
  visibility: hidden;
}
i.separator {
  display: none !important;
}
a.fa.fa-eye.no-disable.active::before {
  content: "\f040";
}
aside .CodeMirror {
  border-style: dotted;
}
aside .disabled-for-preview+.CodeMirror {
  border: none;
}
aside .editor-preview {
  border: none;
  background-color: hsl(208, 70%, 98%);
  color: hsl(0, 0%, 33%);
}